.contact-content{
    width: 100%;
    height: 88vh;
    background-color: rgba(255, 255, 255, 0.336);
    display: flex;
    align-items: center;
    padding: 0%;
    gap: 5%;
}
.geo-loc{
    width: 55%;
    height: 100%;
    background-color: white;
    /* border-radius: 15px; */
    /* box-shadow: 5px 0px 20px rgb(235, 235, 235); */
}
.contact-details{
    width: 38%;
    height: 90%;
    /* background-color: whitesmoke; */
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.contact-features{
    width: 100%;
    height: 60%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.contact-card{
    width: 100%;
    height: 20%;
    /* background-color: whitesmoke; */
    display: flex;
    gap: 4%;
}
.contact-card > i{
    font-size: 35px;
    color: brown;
}
.contact-card-info{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 15%;
}
.contact-card-info > h3{
    font-size: 15px;
}
.contact-card-info > p{
    font-size: 13px;
}
.mail-link{
    width: 45%;
    height: 16%;
    border: none;
    border-radius: 25px;
    background-color: brown;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 1215px) {
    .mail-link{
        height: 10%;
    }
}

@media screen and (max-width: 987px) {
    .contact-content{
        flex-direction: column;
    }
    .geo-loc{
        width: 100%;
        height: 90%;
        /* background-color: red; */
    }
    .contact-details{
        height: 25%;
        width: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: center !important;
        text-align: center;
    }
    .contact-features{
        flex-direction: row;
        flex-wrap: wrap;
        height: 70%;
        justify-content: center;
    }
    .contact-card{
        width: 30%;
        height: 55%;
        gap: 2%;
        justify-content: center;
        align-items: center !important;
    }
    .contact-card-info{
        justify-content: center;
        align-items: start;
        gap: 5%;
        width: 80%;
    }
    .mail-link{
        height: 40%;
        width: 15%;
    }
    .contact-content{
        gap: 2%;
    }
    .contact-card{
        gap: 5%;
    }
    .contact-card > i{
        font-size: 25px;
    }
    .contact-card-info{
        width: 65%;
    }
    .contact-card-info > p{
        font-size: 11px;
    }
    .mail-link{
        width: 35%;
    }
}


@media screen and (max-width: 595px) {
    .contact-details{
        height: 500px;
        display: flex;
        flex-direction: column;
    }
    .contact-features{
        height: 85%;
        flex-direction: column;
        align-items: center;
    }
    .contact-card{
        height: 20%;
        width: 50%;
        justify-content: center;
    }
    .mail-link{
        height: 20%;
        border-radius: 10px;
        width: 45%;
        height: 15%;
    }
}