.nav{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid; */
    padding-right: 5px;
    position: sticky;
    top: 0;
    z-index: 2;
}
.nav-title{
    width: 10%;
    height: 100%;
    /* background-color: red; */
}
.nav-title > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-options{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-options > a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.nav-options > a:hover{
    color: grey;
}
.visitor-count{
    width: 15%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.vc-logo{
    width: 25%;
    height: 60%;
}
.visitor-count > p{
    background-color: brown;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: padding 0.3s ease;
    color: white;
}
.visitor-count > p:hover{
    background-color: rgb(131, 33, 33);
}
.visitor-count > i{
    display: none;
}
#active-link{
    background-color: brown;
    color: white;
    padding: 1.5% 4%;
    border: none;
    border-radius: 20px;
    transition: 0.5s;
}
.nav-sidebar {
    height: 100vh;
    background-color: white;
    width: 50%;
    position: absolute;
    right: -50%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    z-index: 5;
    transition: right 0.8s ease;
}

.nav-sidebar.open {
    right: 0;
}
.nav-sidebar > i{
    font-size: 30px;
    align-self: flex-end;
}
#side-link{
    margin-top: 50px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid whitesmoke;
}
#side-vc{
    width: 20%;
    height: 5%;
    background-color: brown;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
}

@media screen and (max-width: 987px) {
    .nav{
        height: 60px;
    }
    .nav-options{
        display: none;
    }
    .visitor-count > p{
        display: none;
    }
    .visitor-count > i{
        display: block;
        font-size: 35px;
        cursor: pointer;
    }
}

@media screen and (max-width: 730px) {
    .nav-sidebar{
        width: 80%;
    }
    #side-vc{
        width: 30%;
    }
    .nav-title{
        width: 15%;
    }
}

@media screen and (max-width: 575px) {
    .nav-sidebar{
        width: 100%;
    }
}